.cu-column {
    display: grid;
    gap: var(--rds--spacing-large);
}

.cu-column--one {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.cu-column--two {
    grid-template-columns: 1fr;

    @include above(768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.cu-column--three {
    grid-template-columns: 1fr;

    @include above(768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.cu-column--four {
    grid-template-columns: 1fr;

    @include above(768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include above(1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.cu-column--one-third {
    grid-template-columns: 1fr;

    @include above(768px) {
        grid-template-columns: 33% auto;
    }
}

.cu-column--two-thirds {
    grid-template-columns: 1fr;

    @include above(768px) {
        grid-template-columns: 66% auto;
    }
}

/* Ordering */
.cu-column > div {
    order: 1;
}

.cu-column > div.is-first {
    order: 0;
}