@use '../../styles/auto/variables' as *;

.cu-card__figure,
.cu-card__video {
    margin: calc(1.25rem * -1);
    margin-bottom: 1.25rem;
    line-height: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.cu-card__figure--round {
    overflow: hidden;
    margin-top: var(--rds--spacing-small);
    padding: 0 var(--rds--spacing-2-x-large);

    img {
        object-fit: cover;
        border: 4px solid var(--rds--color-grey-pale);
        border-radius: 50%;
    }
}