html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: var(--rds--font-family-inter);
  font-size: var(--rds--font-size-medium);
  font-weight: var(--rds--font-weight-normal);
  line-height: 1.6;
  color: var(--rds--color-text-black);
  background-color: var(--rds--color-off-white);
}

:focus-visible {
  outline: 2px solid var(--rds--color-primary);
  outline-offset: 2px;
}

::selection {
  background-color: var(--rds--color-primary);
  color: var(--rds--color-off-white);
}
