:root :where(.is-layout-constrained) > :first-child {
  margin-block-start: 0;
}

.is-layout-constrained > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.is-layout-constrained > * + * {
  margin-block-start: var(--rds--spacing-medium);
  margin-block-end: 0;
}